@media only screen and (max-width: 600px) {
  .container {
    width: 480px;
    margin: auto;
  }

  header {
    width: 606px;
  }

  .banner {
    padding: 60px 0;
  }

  .flex {
    flex-direction: column;

  }

  .fixed {
    width: 606px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .container {
    width: 768px;
    margin: auto;
  }

  header {
    width: 768px;
  }

}

@media only screen and (min-width: 769px) and (max-width: 1279px) {
  .container {
    width: 900px;
    margin: auto;
  }
}