@media only screen and (min-width: 0px) and (max-width: 600px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }

  .logo {
    margin: 10px 0 0 10px;
  }
  .logo h2 {
    font-size: 16px;
  }
  .logo h2 span{
    font-size: 12px;
  }
  nav {
    width: 50%;
  }
  nav ul {
    margin-right: 10px;
  }
  nav ul li a {
    font-size: 14px;
    padding: 4px ;
  }
  .banner {
    padding: 40px;
  }
  .banner h3 {
    font-size: 20px;
  }
  .banner h1 {
    font-size: 45px;
    margin: 20px;
  }
  .banner a {
    padding: 6px;
    font-size: 12px;
  }
  .event {
    padding: 30px;
    font-size: 20px;
  }
  .event-flex {
    flex-direction: column;
  }
  .content {
    padding: 20px 0;
  }
  .content img{
    box-shadow: none;
  }
  .content h2 {
    font-size: 20px;
    padding-bottom: 10px;
  }
  .content p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .content a {
    padding: 6px;
    font-size: 12px;
  }
  .explore-content {
    padding: 60px 0;
    margin-top: 50px;
  }
  .explore-fixed {
    width: 606px;
  }
  .content-container{
    width: 100%;  
  }
  .content-container h2 {
    font-size: 30px;
  }
  .content-container p {
    font-size: 14px;
  }
  .content-container a {
    padding: 6px;
    font-size: 12px;
  }
  .upcoming-content {
    flex-direction: column;
    padding: 30px 0;
  }
  .tour {
    width: 100%;
  }
  .tour h3 {
    font-size: 20px;
  }
  .tour p{
    font-size: 12px
  }
  .tour a{
    padding: 6px;
    font-size: 12px;
  }
  .small {
    height: 300px;
  }
  .big{
    height: 300px;
  }
  .footer div ul li a {
    font-size: 12px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .container {
    width: 720px;
    margin: 0 auto;
  }
  .logo {
    margin: 10px 0 0 10px;
  }

  .logo h2 {
    font-size: 20px;
  }

  .logo h2 span {
    font-size: 16px;
  }

  nav {
    width: 70%;
  }

  nav ul {
    margin-right: 10px;
  }

  nav ul li a {
    font-size: 16px;
    padding: 6px;
  }
  .banner {
    padding: 100px;
  }

  .banner h3 {
    font-size: 25px;
    padding-bottom: 20px;
  }

  .banner h1 {
    margin: 30px;
  }

  .banner a {
    padding: 10px;
    font-size: 16px;
  }
  .event {
    padding: 50px;
    font-size: 25px;
  }

  .event-flex {
    flex-direction: row;
  }

  .content {
    padding: 5px;
  }

  .content img {
    box-shadow: none;
    height: 290px;
  }

  .content h2 {
    font-size: 25px;
    padding-bottom: 10px;
  }

  .content p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .content a {
    padding: 10px;
    font-size: 16px;
  }
    .explore-content {
      padding: 100px 0;
      margin-top: 80px;
    } 
    .content-container h2 {
      font-size: 50px;
    }
  
    .content-container p {
      font-size: 16px;
    }
  
    .content-container a {
      padding: 10px;
      font-size: 16px;
    }
  
    .upcoming-content {
      padding: 30px 0;
    }
}